{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "baseUrl": ".",
    "target": "es2022",
    "preserveAllComments": false
  },
  "module": {
    "type": "es6",
    "strict": true,
    "noInterop": true,
    "resolveFully": true
  }
}
